#--------------------------------------
# ignore default
#--------------------------------------
/*

#--------------------------------------
# root files
#--------------------------------------
!/.gitignore
!/push.cgi
!/push.conf.cgi
!/README.md

#--------------------------------------
# adiary files
#--------------------------------------
!js/
!lib/
!skel/
!theme/


