<@20> pragma : 最適化on（コマンド以外を無視）
<@#>
################################################################################
# ■ adiary.conf.cgi : adiary 動作設定ファイル
################################################################################
#
# 通常は「●」の項目のみ変更してください
#
################################################################################
<$Develop=1>
#<$ENV_print=1>
#<$AutoLoader_debug=1>

<$regist_skeleton('skel/')>
<$ifumask(UID ne '' && UID<101, 0000)>
<$Form_options.total_max_size = 16K>

################################################################################
# ■システム本体
################################################################################
<$v=Main=loadapp("push")>

<$v.datafile = 'data/data.dat'>

<$v.AES128GCM = true>
<$v.VAPID     = true>
<$v.TTL       = 86400>

<$v.SEPARATE_MKEY  = false>

